.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 1000;
}

/* Styling for the patient list */
.patient-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.patient-list li {
  padding: 12px 16px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease-in-out;
}

.patient-list li:last-child {
  border-bottom: none;
}

.patient-list li:hover {
  background-color: #e2e6ea;
}

.patient-list button {
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-list button:hover {
  text-decoration: none;
}

.patient-name {
  font-weight: 500;
}

.add-patient-button {
  background-color: #28a745; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Top and bottom padding of 10px, left and right padding of 20px */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to a pointer to indicate it's clickable */
  font-size: 16px; /* Larger font size for better readability */
  margin-bottom: 20px; /* Spacing below the button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.add-patient-button:hover {
  background-color: #218838; /* Darker green background on hover */
}
