.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 1000;
}
