.patient-detail {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.patient-detail h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.patient-detail label {
    display: block;
    margin-bottom: 10px;
}

.patient-detail input[type="text"],
.patient-detail input[type="date"],
.patient-detail select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.patient-detail button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.patient-detail button[type="submit"] {
    background-color: #007bff;
    color: white;
}

.patient-detail button[type="button"] {
    background-color: #dc3545;
    color: white;
}

.patient-detail img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 15px;
}

.success-message {
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #155724;
    text-align: center;
}

.patient-detail button.cancel-edit-button {
    background-color: #6c757d; /* Gray background for 'Cancel' action */
    color: white; /* White text */
    padding: 10px 15px; /* Padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 16px; /* Font size */
    margin-top: 10px; /* Margin at the top */
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}
